.sc-visual{margin-top: 20px;margin-bottom: 100px;}

.sc-visual .swiper-slide img{height: 669px;width: 100%;display: block;position: relative;object-fit: cover;}

.sc-visual .swiper-pagination{position: absolute;width: auto;left: auto;right: 5%;}

.sc-visual .swiper-button-next{
    width: 30px;
    height: 44px;
    right: 5%;
    background: url(../images/arr01_right.png) no-repeat center;
    opacity: 0.5;
    transition: 0.3s;
    background-size: auto 100%;
}

.sc-visual .swiper-button-next:hover{
    opacity: 1;
    right: 4.5%;
}
.sc-visual .swiper-button-prev{
    width: 30px;
    height: 44px;
    left: 5%;
    background: url(../images/arr01_left.png) no-repeat center;
    opacity: 0.5;
    transition: 0.3s;
    background-size: auto 100%;
}

.sc-visual .swiper-button-prev:hover{
    opacity: 1;
    left: 4.5%;
}

.sc-visual .swiper-button-next:after,
.sc-visual .swiper-button-prev:after{
    display: none;
}


.sc-visual .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background: transparent;
    opacity: 1;

}
.sc-visual .swiper-pagination-bullet-active{
    background: #000;
}

.sc-new{}
.sc-new .content{display: flex;justify-content: space-between;}
.sc-new h2{margin-bottom: 30px;font-size: 42px;font-family: 'Monserrat' , sans-serif;font-weight: bold;}
.sc-new .text-box{text-align: center;padding-top: 20px;}
.sc-new p{margin-top: 15px;color: #999;font-size: 13px;}
.sc-new strong{font-size: 16px;font-weight: 400;}



.sc-new .new-slide{height: 500px;margin-bottom: 150px;}

.sc-new .swiper-slide:hover .back{
    opacity: 1;
    transition: 0.3s;
}

.sc-new .swiper-pagination{
    top: auto;
    bottom: 0;
}
.sc-new .swiper-pagination-progressbar-fill{
    background: #000;
    
}
.sc-new .swiper-slide .icons{
    position: absolute;
    top: 20px;left: 20px;
    z-index: 1;
    
    
}
.sc-new .img-box{
    position: relative;
}
.sc-new .img-box .front{}
.sc-new .img-box .back{
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
}
.sc-new .btn-wrap{display: flex;}
.sc-new .btn-wrap .btn-nav.prev{background: url(../images/best_prev.png) no-repeat center;width: 30px;height: 30px;display: block;background-size: 15px;padding-bottom: 20px;}
.sc-new .btn-wrap .btn-nav.next{background: url(../images/best_next.png) no-repeat center;width: 30px;height: 30px;display: block;background-size: 15px;padding-bottom: 20px;margin-left: 20px;}


.sc-banner{margin-bottom: 100px;position: relative;padding: 100px;text-align: center;color: #fff;overflow: hidden;}
.sc-banner::after{ content: ''; position: absolute; top: 0;left: 0; right: 0;bottom: 0; background: rgb(0,0,0,0.5); z-index: -1; }
.sc-banner img{position: absolute;top: 0;left: 0;width: 100%;height: 100%; object-fit: cover;z-index: -2;}
.sc-banner h2{font-size: 58px;padding: 10px 0;font-family: 'Montserrat' , sans-serif; font-weight: 700;}
.sc-banner p{font-size: 18px;line-height: 30px;padding: 10px 0;}

.sc-banner .link-more{display: inline-block; padding: 14px 35px 12px; border: 1px solid #fff; border-radius: 24px; text-align: center; font-size: 15px; font-weight: 500; line-height: 20px;margin-top: 48px; }
.sc-banner .link-more:hover{ background: #000; color: #fff; border: 1px solid #000; }


.sc-best{
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

.sc-best .swiper-slide:hover .back{
    opacity: 1;
    transition: 0.3s;
}
.sc-best .img-box{
    position: relative;
}
.sc-best .img-box .back{
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
}
.sc-best .text-box{text-align: center;padding-top: 20px;}
.sc-best .text-area{
    
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sc-best .title{
    font-size: 16px;font-weight: 400;color: #000;
}
.sc-best .price{
        font-size: 14px;font-weight: 400;color: #848484;margin-top: 15px;
}
.sc-best .text-area h3{    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    word-break: keep-all;}
.sc-best .text-area p{margin-bottom: auto;    font-size: 15px;
    line-height: 1.6;
    margin-top: 15px;
    word-break: keep-all;}


.sc-best .best-slide{
    
    width: calc(100% - 320px);
}


.sc-best .swiper-scrollbar-drag{
    background: #000;
}
.sc-best .icons{
    position: absolute;
    top: 20px;left: 20px;
    z-index: 1;
}

.sc-best .btn-wrap .btn-nav.prev{background: url(../images/best_prev.png);width: 30px;height: 30px;display: block;background-size: 13px;background-repeat: no-repeat;background-position: center;bottom: 72px;bottom: 72px;position: absolute;}
.sc-best .btn-wrap .btn-nav.next{background: url(../images/best_next.png);width: 30px;height: 30px;display: block;background-size: 13px;background-repeat: no-repeat;background-position: center;left: 50px;bottom: 72px;position: absolute;}

.group-flex1{margin-bottom: 150px;margin-top: 100px;}
.group-flex1 .headline{margin-bottom: 2.4648%;font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    word-break: keep-all;}
.group-flex1 .sc-board{border: 1px solid #ECECEC;padding: 20px;
    position: relative;}
.group-flex1 .sc-board h3{    display: inline-block;position: relative;
    vertical-align: middle;
    padding-right: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;}
.group-flex1 .board-title2::after{background: url(../images/board_title.png);width: 38px;height: 20px;background-repeat: no-repeat;background-position: center;position: absolute;content: '';left: 100%;top: 20%;}

.sc-board .board-item{padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}    
.group-board img{width: 100%;height: 100%;object-fit: cover;}

.sc-board .link-more{display: inline-block;position: absolute;
    padding: 14px 35px 12px;
    border: 1px solid #000;
    border-radius: 24px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;right: 40px;bottom: 30px;
}

.sc-board .link-more:hover{
    background: #000;
    color: #fff;
}
.sc-board .new-logo{position: absolute;transform: translateX(80px);}
.sc-board img{width: 38px;height: 20px;position: absolute;top: 25px;right: 310px;}
.group-board .content{display: flex;justify-content: space-between;}



.group-flex1 .content{
    display: flex;
    gap: 30px;
}

.group-flex1 .content section{
    width: 20%;
    flex-shrink: 0;
}


.sc-video{margin-bottom: 150px;}
.sc-video .frame-wrap{
    background: #fff;
    padding-bottom: 56.25%;
    position: relative;
}
.sc-video iframe{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}


